body{
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    /* background-color: rgb(26, 26, 26); */
    display: flex;
    flex-direction: column; /* empilha header, main e footer */
    min-height: 100vh; 
    height: 100vh;
}

header{
    display: flex;
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-left: 20px;
}

#opcoes{
    margin-right: 40px;
}

#opcoes > ul{
    display: flex;
    gap: 20px;
}

header > #opcoes > ul > li > a{
    font-size: 20px;
    background-color: rgb(122, 4, 4);
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}

header > #opcoes > ul > li > a:hover{
    background-color: red;
    cursor: pointer;
}

header > #opcoes > ul > li > a:active{
    background-color: rgb(122, 4, 4);
}

header > img {
    margin-left: 40px;
}

ul, ol{
    list-style: none;
    text-align: left;
    padding: 0;
}

footer{
    display: flex;
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 99.99%;
    align-items: center;
    justify-content: center;
}

#corpo {
    background-image: url('../img/fundo/estrelado\ \(2\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subCorpo{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    width: 80%;
    height: 85%;
    gap: 10px;
}

main {
    grid-column: span 3;
    grid-row: span 4;
    background-color: rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

main > #infoDiv > div > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#cabecarioMain {
    display: flex;
    text-align: center;
}

#infoCabecarioMain{
    color: aliceblue;
}

#divona{
    display: flex;
}

.box1{
    margin: 0 auto;
    background-color: rgb(95, 53, 6);
    padding: 10px;
    border-radius: 15px;
    width: 25%;
}

#aside1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: rgb(99, 99, 99);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
}

.box2 > img {
}

#aside2 {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    background-color: rgb(99, 99, 99);
    border-radius: 15px;
    width: 100%;
}

#subAside2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box3 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box3 > div{
    display: flex;
}
